@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo{
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px
        }
        &__icons {
            margin-top: 50px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .button {
        &_main {
            margin-top: 60px;
            width: 290px;
            height: 45px;
            font-size: 15px;
        }
    }
    .benefits {
        &__header {
            font-size: 25px;
            line-height: 25px;
        }
        &__item {
            margin-top: 50px;
            width: 220px;
        }
        &__subheader {
            font-size: 17px;
            line-height: 17px;
        }
        &__descr {
            font-size: 13px;
            line-height: 15px;
        }
        
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        padding-bottom: 60px;
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 400px;
        }
    }
    .button {
        &_main {
            width: 280px;
            height: 40px;
        }
    }
    .benefits {
        padding: 50px 0 60px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 35px;
            width: 250px;
        }
        &__subheader {
            margin-top: 25px;
        }
        &__descr {
            margin-top: 17px;
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 300px;
    }
    .header {
        &__logo {
            img {
                width: 92%;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
    .promo {
        min-height: 540px;
        padding-bottom: 40px;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 22px;
            line-height: 22px;
        }
        &__subheader {
            display: none;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 20px;
        }
        &__icon {
            margin-bottom: 15px;
            img {
                margin-bottom: 7px;
            }
            
        }
        &__link {
            margin-top: 8px;
            font-size: 14px;
        }
    }
    .button {
        width: 133px;
        height: 22px;
        font-size: 10px;
        &_main {
            margin-top: 20px;
            width: 240px;
            height: 35px;
            font-size: 13px;
        }
    }
    .benefits {
        padding: 40px 0 50px 0;
        &__header {
            font-size: 20px;
            line-height: 20px;
        }
        &__item {
            margin-top: 25px;
        }
        &__subheader {
            margin-top: 15px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
}