.promo {
    min-height: 650px;
    padding: 21px 0 90px 0;
    background: url(/../img/first_bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons {
        width: 424px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        a {
            text-transform: uppercase;
            text-decoration: underline;
            color:#FFFFFF
        }
    }
}